doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login Successful
  link(rel='icon' type='image/png' href='../static/imgs/icons/favicon.png')
  script(src="../static/scripts/signinsuccess.js")

style.
  body {
    background-color: black;
  }
  .hide {
    display: none;
  }

#name.hide
 |#{name}
#nFav.hide
 |#{nFav}
#nP1.hide
 |#{nP1}
#nP2.hide
 |#{nP2}
#nP3.hide
 |#{nP3}
